body {
    background-image: url('pic/bg-fav-01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 44%;
    background-size: 150%
}

.title {
    color: white;
    padding: 2em 0 2em 2em;
}

.bar-list {
    background-color: rgba(0, 0, 0, .6);
    padding: 1em 0em 1em 1em;
}

.my-content {
    color: blanchedalmond;
    background-color: rgba(0, 0, 0, .75);
    margin: 0 20vh 0 2%;
    border-radius: 15px;
}

img {
    margin-left: 3vw;
    height: 350px;
    width: 230px
}

p {
    padding: 2% 2% 2% 2%;
    color: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    line-height: 1em;
}

.dropshadow {
    text-shadow:5px 5px 10px black;
}

.center-btn {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    filter: drop-shadow(5px 5px 4px #000000);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
}

.btn-secondary {
    color: #000000;
}

#main-content {
    display: flex;
}

@media only screen and (max-width: 700px) {
    #main-content {
        display: inline-block;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .my-content {
        display: block;
        margin: 1vh 2vw 1vh 2vw;
    }

    #head, #title {
        text-align: center;
        font-size: 2.5em;
        padding: 0%;
    }

    .title {
        padding: 0 0 0 0
    }

    #des {
        font-size: 1.5em;
    }
}
