body {
    background-image: url('pic/bg-home.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 44%;
    background-size: 150%
}

.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-shadow:5px 5px 10px black
}

.center-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1% 0% 1% 0%;
    width: fit-content;
    height: fit-content;
}

.dropshadow {
    background-color: rgba(0, 0, 0, .6);
    
    border-radius: 25px;
}

.btn-bonus{
    font-size: 2vh;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 25px;
}

#btn-list {
    margin-top: 10%;
}

p {
    font-size: 3vh;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-left: 2%;
}

#page-name {
    font-size: 15vh;
}

#pre {
    font-size: 8vh;
}

@media only screen and (max-width: 700px) {
    p {
        font-size: 2vh;
    }
    .welcome {
        font-size: 3vh;
    }
    #page-name{
        font-size: 4vh;
    }
    #pre {
        font-size: 3vh;
    }
  }