.bar-list {
    background-color: rgba(0, 0, 0, .6);
    padding: 1em 0em 1em 1em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-weight: bold;
    border-radius: 25px;
    text-shadow: none
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #c28550;
}

a {
    FONT-WEIGHT: bold;
    text-shadow: 5px 5px 10px black;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: #d6b58c;
}

.nav-pills:hover .nav-link:hover, .nav-pills:hover .show>.nav-link:hover {
    color: #fff;
}