body {
    background-image: url('../pic/bg-fav-01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 44%;
    background-size: 150%;
    width: fit-content;
}

tbody > tr > th:hover, td:hover{
    filter:grayscale(80%)
}

tbody > tr > th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

thead :not(#empty){
    font-size: .95em;
}

th, td {
    width: 6em;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

a:not([href]) {
    text-shadow: none;
    font-size: 1.5em;
}

.option {
    height: 200px;

}

.table thead th {
    vertical-align: middle;
}

.table th{
    padding: .5em 0em .5em 0em;
    vertical-align: middle;
}

.table {
    table-layout: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 80%;
}

.collector, .detail-collector{
    margin: 3em 3em 3em 3em;
}

.detail-collector{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 1em;
    margin: auto;
    margin-bottom: 2em;
    width: 70%;
}

.content{
    border-radius: 10px; 
    margin-left: 1%;
    padding: 1% 1% 1% 1%;
    width: 100%;
    height: 200px;
    border: 5px solid gray;
    background-color: white;
    
}

#list-subject > a {
    width: auto;
    text-align: left;
}

#list-subject > a:hover {
    background-color: grey;
    color: white;
}

#topic {
    margin-bottom: 1%;
    color: aliceblue;
    text-shadow: 5px 5px 10px black;
}

.scroll { 
    overflow-x: hidden; 
    overflow-y: auto; 
    text-align:justify;
}

.content > h1 {
    font-size: 1.5em;
    text-align: left;
}

.content > h2 {
    font-size: 1em;
}

.content > a {
    text-shadow: 3px 3px 15px black;
}

.content > p {
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 98%;
    word-wrap: break-word;
    word-break: keep-all;
}

.list-group-item-action {
    text-shadow: none
}

.list-content {
    display: flex; justify-content:center
}

@media only screen and (max-width: 700px) {
    .detail-collector {
        width: 80vw;
        margin-left: 10vw;
    }

    .content {
        width: 100%;
    }

    .list-content {
        display: block;
    }

    #topic {
        font-size: 300%;
    }

    #list-subject > a{
        width: 100%;
    }

    #list-subject {
        margin: 1em 0 1em 0;
    }

    .option {
        height: auto;
    }
}