body {
    background-image: url('../pic/bg-fav-01.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0% 44%;
    background-size: 150%
}

th {
    width: 6em;
    text-align: center;
    color: rgb(255, 255, 255);
}

td {
    vertical-align: middle;
    text-align: center;
    color: rgb(255, 255, 255);
}

.table thead th {
    vertical-align: middle;
}

.table th{
    padding: .5em 0em .5em 0em;
    vertical-align: middle;
}

.table {
    table-layout: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.collector {
    margin: 3em 3em 3em 3em;
}

@media only screen and (max-width: 700px) {
    .collector {
        transform: rotate(90deg);
        margin: 3em 3em 3em 3em;
    }
}